.back {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 36px; /* Adjusted font size */
    line-height: 1.2; /* Added line-height for better spacing */
    display: flex;
    white-space: nowrap;
    text-align: left;
    margin-left: 10px;
    color: #ECEAD4;
}

.pic {
    width: 100%;
    height: auto;
    margin-top: -50px;
}

.desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px; /* Adjusted font size */
    line-height: 1.6; /* Added line-height for better spacing */
    margin-top: 30px; /* Adjusted margin */
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.boxter {
    margin-top: -80px;
}

.lastDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; /* Adjusted margin */
}

.lastText {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px; /* Adjusted font size */
    line-height: 1.6; /* Added line-height for better spacing */
    max-width: 800px;
}

.icon {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

@media (min-width: 2559px) {

.pic {
    width: 70%;
    height: auto;
    margin-top: -50px;
}
}

/* Additional styles for mobile devices */
@media (max-width: 769px) {
    .text {
        font-size: 24px;
        margin-left: 5px;
    }

    .desc {
        font-size: 14px;
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .boxter {
        margin-top: -60px;
    }

    .lastText {
        font-size: 14px;
        max-width: 800px;
    }

    .icon {
        width: 30px;
    }
}